.wrapper {
  height: 100%;
  width: 100%;
  background-image: url(/img/clouds2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-gap: 5px;

  grid-template-columns: 80px;
  grid-auto-columns: 80px;
  grid-auto-flow: column;

  border: 5px solid green;

  height: 500px;

  align-items: center;

/*  padding-top: 15%;*/
}

.grid-container>div{
  border: 5px solid pink;
}



