.wrapper {
  height: 100%;
  width: 100%;
  background-image: url(/img/clouds2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  z-index: -1;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  border: 2px solid green;
  height: 400px;
}

.grid-container>div{
}

.main-content{
  display: grid;
  grid-template-columns: 80px;
  grid-auto-columns: 80px;
  grid-auto-flow: column;
  width: 100%;
}

.main-content>div{
  border: 2px solid black;
}

.top, .bottom{
  width: 100%;
  height: 100%;
  background: #bada55;
}
