.wrapper {
  height: 100%;
  width: 100%;
  background-image: url(/img/clouds2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
}

.grid-container>div{
  border: 3px solid pink;
  height: 100px;
}

.content {
  display: grid;
  grid-template-columns: 80px;
  grid-auto-columns: 80px;
  grid-auto-flow: column;
  padding: 50px;
}

.content>div {
  border: 2px solid red;
  margin: 10px;
}


